:root {
  --blue-color: #1877f2;
  --white: #fff;
  --font-size-lg: 20px;
  --icon-size: 25px;
  --gap: 10px;
  --sidebar-padding: 20px;
}

/* SideBar */
.sidebar {
  padding: var(--sidebar-padding);
  background-color: var(--blue-color);
}
.sidebar,
.sidebar .logo i,
.sidebar .extra,
.nav {
  color: var(--white);
}

.sidebar .logo i {
  font-size: 80px;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.sidebar_nav {
  margin: 20px 0px;
}
.sidebar_nav-item i {
  margin-left: 2px;
  font-size: var(--icon-size);
  width: 30px;
  display: inline-block;
  text-align: center;
}

.sidebar_nav-item {
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: var(--font-size-lg);
  font-weight: 900;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
}
.sidebar_nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  cursor: pointer;
}
.sidebar .extra {
  margin-top: 20px;
}
