:root{
  --blue-color: #1877F2;
}
/* SideBar */
.sidebar {
  padding: 20px;
  display: grid;
  grid-template-rows: 90px 250px 80px;
  background-color: var(--blue-color);
}

.sidebar .logo i {
  font-size: 80px;
  color: white;
}
.logo{
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  margin-bottom: 20px;
}
.nav{
  margin: 20px 0px;
  color: white;
}
 .nav-item i {
  margin-left: 2px;
  font-size: 25px;
  width: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 25px;
}
.main-content {
  background-color: lightcoral;
}
.sidebar .extra{
  margin-top: 20px;
  color: white;
}
